@import url('https://fonts.googleapis.com/css?family=Archivo|Archivo+Black|Josefin+Sans&display=swap');

$font-family-lato: 'Lato', sans-serif;
$font-family-archivo-black: 'Archivo Black', sans-serif;
$font-family-archivo: 'Archivo', sans-serif;
$font-family-josefin: 'Josefin Sans', sans-serif;
$font-family-lobster: 'Lobster', cursive;
$body-color: #111111;
$footer-color-light: #fdfdfd;
$footer-color-dark: #313131;
$card-color-hover: #ededed;
$nav-link-color-light: #777777;
$nav-link-color-dark: #dddddd;
$color-watermelon: #fa6e59;

* {
  color: $body-color;
  font-family: $font-family-josefin;
}

body {
  position: relative;
  padding-bottom: 15em;
}

.navbar {
  height: 7em;
}

.footer-copyright {
  color: $footer-color-dark;
}

.navbar-brand {
  margin-right: 3rem;
}

.nav-link-gwc {
  color: $nav-link-color-light;
  padding-right: 0;
  padding-left: 0;
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link-gwc:hover, .nav-link-gwc:focus {
  text-decoration: none;
  color: #000000;
}

.nav-link-gwc-active {
  color: #060606; 
}

.custom-font {
  font-family: $font-family-archivo-black;
  font-weight: lighter;
  color: #f9f9f9;       
}

.jumbotron {
  background: #396afc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-gwc:hover {
  background-color: $card-color-hover;
}

.footer-sticky {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}